# Скопируйте этот файл в .env и заполните значения

# DeepSeek API Key
# Получите ключ на https://platform.deepseek.com/api_keys
DEEPSEEK_API_KEY=your_deepseek_api_key_here

# Django Secret Key (для продакшена измените на случайную строку)
SECRET_KEY=django-insecure-.......
# Debug mode (для продакшена установите False)
DEBUG=True
